# Copy this file to .env or just set these environment variables

# default port is 3000
export PORT=3000

# your AWS keys
export S3_KEY=
export S3_SECRET=
export S3_BUCKET=

# hostname for this server according to your browser
# if they don't match then Persona will not work
export PERSONA_AUDIENCE="http://localhost:3000"

# secret used to sign cookie. any long string will do
export SESSION_SECRET=
