<!DOCTYPE html>
<html>
  <head>
    <title>MIU</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/persona-buttons.css">
    <!-- Putting the persona email in a random div with an id seems gross
         so I dumped it in a meta tag which are invisible to the user anyways -->
    <meta name="persona-email" content="{{ email }}">
  </head>
  <body>
    <h1>MIU</h1>
    <a href="#" class="persona-button dark"><span>Sign in with your Email</span></a>
    <br>
    <label>Slug</label>
    <input placeholder="slug-here" class="slug">
    <div class="dnd">Drop your image here</div>
    <ul class="uploaded your-makes">

    </ul>
    <h2>Your makes:</h2>
    <ul class="your-makes">
      {% for make in makes %}
        <li><a href="{{make.description}}"><img src="{{make.description}}"></a></li>
      {% endfor %}
    </ul>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="javascripts/dnd.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script src="javascripts/persona.js"></script>
  </body>
</html>
